:root {
    --primaryColor: #0059ff;
    --secondaryColor: #006400;
    --whiteColor: #fff;
    --blackColor: #222;
    --greenColor: #00ff6a;
    --darkBlueColor: #151f80;
    --lightBlueColor: #00bfff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'poppins', sans-serif;
}

body {
    width: 100%;
    height: auto;
    display: flex;
}

.sidebar {
    height: 100%;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2%;
    background-color: var(--darkBlueColor);
    color: var(--whiteColor);
}

.sidebar-menus {
    display: flex;
    flex-direction: column;
}

.sidebar-menus a , .sidebar-logout a{
    padding: 5% 8%;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    text-decoration: none;
    color: var(--whiteColor);
}

.sidebar-menus a ion-icon , .sidebar-logout a ion-icon {
    font-size: 20px;
}

.sidebar-menus a:hover , .sidebar-logout a:hover{
    background-color: var(--blackColor);
    border-radius: 50px;
}

.main {
    width: 190.5%;
    height: max-content;
    min-height: 100vh;
    padding: 5%;
    background-color: var(--primaryColor);
    margin-left: 200px;
}

.main-navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

/* will hide menu toogle first, this one will appear on mobile screen later */
.menu-toggle {
    display: none;
}

.search {
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    background-color: var(--whiteColor);
    border-radius: 20px;
}

.search input {
    width: 80%;
    height: 100%;
    padding: 20px;
    border: none;
    border-radius: 20px;
}

.search-btn {
    margin-left: 3.8%;
    background-color: var(--secondaryColor);
    color: var(--whiteColor);
    border: none;
    border-radius: 20px;
    width: 120px;
    cursor: pointer;
}

.search:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.search-btn:hover {
    background-color: var(--blackColor);
}

.profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cart, .user {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--whiteColor);
    font-size: 20px;
    color: var(--primaryColor);
    text-decoration: none;
    padding: 0 10px;
    height: 40px;
    border-radius: 50px;
}
